// custom variables
:root {
  --purple-light: #7f1e7b;
  --purple-deep_a: #19073b;
  --blue-deep: #213f72;
  --brown: #7f4129;
  --purple-deep_b: #1c0c28;
  --grey_a: #707070;
  --blue-light: #271ac1;
  --grey_b: #09090991;
  --ice_a: #f6f7f9;
  --ice_b: #fafafa;
  --dark: rgb(41, 40, 40);
}
