* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  //google fonts
  font-family: 'Poppins', sans-serif;

  // background-image: url(../../images/Path\ 1.svg);
  // background-size: cover;
  color: white !important;
}

a {
  text-decoration: none;
}

button {
  &:hover {
    border-color: var(--blue-deep) !important;
  }
}
