nav {
  color: white !important;
  // a {
  //   color: white;
  // }
  .navbar-brand {
    margin-left: 60px;
  }
  button {
    background-color: var(--blue-light) !important;
    border-color: var(--blue-light) !important;
    padding: 10px 40px !important;
    &:hover {
      border-color: var(--blue-light) !important;
    }
  }
  .blog-nav-btn {
    color: black;
    background-color: white !important;
    border-color: white !important;
    &:hover {
      border-color: white !important;
    }
  }
  .nav-text {
    position: relative;
    &:after {
      content: '';
      background-color: white;
      width: 0;
      height: 1px;
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      margin: 0 auto;
    }
    &:hover {
      &:after {
        width: 100%;
        transition: width 0.95s cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
  }
}
